.categoryName {
    color: #E7E6E6;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-bottom: 20px; */
    display: inline;
}

.noItems {
    margin-left: 40px;
    color: #E7E6E699;
    display: inline;
    /* margin-top: 20px; */
}